/* COLORS  
purple: #806BA2
gold: #FEC210
yellow: #FCEB48

red: #E91E23
blue: #02B2E7
yellow: #FABC16


*/

body {
    background-color: #000;

}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    text-align: center;
}

h1 {
    font-family: "Gregor Miller's Friends Font";
    src: url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.eot");
    src: url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.eot?#iefix")
    format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.woff2")
    format("woff2"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.woff")
    format("woff"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.ttf")
    format("truetype"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.svg#Gregor Miller's Friends Font")
    format("svg");
    color: white;
    font-size: 20px;
}

h2 {

}

#questions-text {
    margin: 30px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Montserrat',;
    letter-spacing: .5px;
}

#questions-text img {
    margin: 20px auto 20px auto;
    display: block;
    max-width: 75%;
    ;
}

h3 {
    font-size: 1.5rem;
    color: white; 
    font-family: 'Montserrat', ;
    font-weight: 800;
}


h4 {
    font-size: 1.25rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 20px;
}

.jumbotron  img {
    max-width: 90%;
    padding: 20px;
    margin: 0 auto 0 auto;
}

.btn {
    margin: 20px;
    color: black;
    background-color: white;
    border: none;
}

.btn:hover {
    background-color: #02B2E7;
    color: white;

}

.btn:active {
    background-color: #02B2E7;
    border: #02B2E7 2px solid;
    color: white;
}
.btn:focus {
    background-color: #02B2E7;
    border: #02B2E7 2px solid;
}


.start-button {
    background-color:#FABC16;
    border-radius: 5px;
    margin: 30px auto 50px auto;
    font-family: 'Montserrat', ;
    font-weight: 800;
    color: white;
    font-size: 2rem;
    width: 120px;
    height: 50px;
    }

#timer {
    background-color:#FABC16;
    border-radius: 5px;
    margin: 30px auto 50px auto;
    font-family: 'Montserrat', ;
    font-weight: 800;
    color: white;
    font-size: 2rem;
    width: 120px;
    height: 50px;
}

#logo {
    width: 50%;
    max-width: 80vw;
}

#answer-buttons {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reset-button {
    margin-top: 50px;
}


/*media queries*/

@media only screen and (max-width: 700px) {
    #logo {
        width: 90%;
    }
    .start-button {

        margin: 10px auto 20px auto;

        }
    #timer {

        margin: 10px auto 20px auto;

    }
    #answer-buttons {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #start-button {
        margin-top: 80px;
    }
}






