/* COLORS  
purple: #806BA2
gold: #FEC210
yellow: #FCEB48
*/

body {
    background-color: #806ba2;
    width: 80%;
    overflow: hidden;
}

.game-box {
    display: grid;
    height: 95vh;
}

#frame {
}
.center-fit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    text-align: center;
}

.game-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40vw;
    max-height: 40vh;
    text-align: center;
    vertical-align: auto;
}

h1 {
    font-family: "Gregor Miller's Friends Font";
    src: url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.eot");
    src: url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.eot?#iefix")
    format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.woff2")
    format("woff2"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.woff")
    format("woff"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.ttf")
    format("truetype"),
    url("//db.onlinewebfonts.com/t/4df1037e4c7912d8cdbc227764488084.svg#Gregor Miller's Friends Font")
    format("svg");
    color: white;
    font-size: 3vw;
}

.round-button {
    min-width: 60px;
    max-width: 120px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: white;
    background-color: #000;
    border-radius: 100%;
    overflow: none;
    text-align: center;
    padding: 0;
}
.round-button:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
}
span {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
}
.round-button:active {
    background-color: #fec210;
}

#img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40vw;
    max-height: 40vh;
    text-align: center;
}